.body {
  background-image: url(../images/granito-negro-2.jpg);
  background-color: #1f1f1f;
}

body,
a {
  color: #dddddd;
}
.contact img {
  height: 35px;
  margin: 0 0 7px 3px;
}

.nationality img {
  height: 35px;
  margin: 3px 0;
}

.languages img {
  height: 20px;
  color: #fc0;
}

.languages .language {
  line-height: 20px;
  margin: 5px 0;
}

.language img.country {
  margin-bottom: 3px;
}

.personal-data {
  background-color: #66666680;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 215px;
}

hr {
  border-top-color: #0000004d;
}

.primary-data-row {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-data-title {
  display: inline-block;
  padding: 0 20px 0 2px;
  color: #fc0;
}

.secondary-data-row {
  margin: 7px 0 7px;
}

.secondary-data-title {
  font-weight: bold;
  font-size: 17px;
}

.name-header {
  text-align: right;
  width: 100%;
  color: #fc0;
  font-family: "Josefin Sans";
}

.sub-title-header {
  font-family: "Calligraffitti";
  text-align: right;
  display: block;
  line-height: 0;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.hobbie-or-interest {
  height: 25px;
  margin-right: 5px;
}

.hobbie-or-interest-container {
  margin-left: 10px;
}

.main-body > p:first-of-type {
  line-height: 20px;
  margin-top: 11px;
}

.section-title {
  color: #fc0;
  font-family: "Josefin Sans";
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 25px;
}

.section-target {
  height: 23px;
  margin-right: 5px;
}

.section-work-activity {
  height: 17px;
  margin-right: 5px;
}

.section-list-item {
  margin-bottom: 5px;
}

.footer-container {
  background-color: #3d3d3d80;
}

.footer {
  min-height: 50px;
  width: 100%;
  padding: 15px 20px;
  font-family: "Josefin Sans";
  text-align: right;
}

.footer p {
  margin: 0;
}

.section-time {
  color: #fc0;
}

.section-experience-skills {
  border-left: solid 2px #fc0;
  padding-left: 7px;
  margin-left: 9px;
}

.section-experience-container {
  margin-top: 9px;
}

.section-expirience-reference {
  color: #ffe88a;
}

.section-expirience-reference-image {
  height: 10px;
}

.section-tech-skill-container {
  border: solid 2px #fc0;
  border-radius: 8px;
  padding: 3px 7px;
  /* max-width: 340px; */
  width: 100%;
  margin: 0 3px 7px;
  display: inline-block;
  vertical-align: top;
}

.tech-skill-title {
  font-family: "Calligraffitti";
  font-weight: bold;
  margin: 7px 11px;
  text-align: right;
  font-size: 20px;
}

.section-techs-skills {
  /* display: flex; */
  /* align-items: start; */
  /* justify-content: start; */
  /* flex-wrap: wrap; */
}
.stars-rate-container {
  margin: 3px 0 9px;
  padding-left: 10px;
}

.go-back {
  height: 35px;
  float: left;
  padding-top: 11px;
}

@media print {
  .print-padding-top-1 {
    padding-top: 20px;
  }

  .print-hide {
    display: none;
  }

  .pagebreak {
    page-break-after: always;
  }

  .print-show {
    display: initial !important;
  }

  .body {
    background-image: none;
  }
}

@media not print {
  .not-print-hide {
    display: none;
  }
}
