.vh100 {
  height: 100vh;
}

.name-header {
  display    : inline-block;
  text-align : center;
  color      : #5e63ff;
  font-family: "Josefin Sans";
}

.index-main-container {
  margin-top: 40px;
}

.index-main-container img {
  height: 70px;
}